:root {
    --height-wrapper: 73px;
    --height-scroll: 40px;

    --animation-margin-right: calc(var(--height-scroll) + 100%);
    --animation-anti-margin-right: calc(
        (var(--animation-margin-right) + var(--height-scroll)) * -3
    );
    
    --color-paper: #efeffb
}