#game-create-container{
    width: 30%;
    left: 35%;
    margin-top: 5%;
    position: relative;
}
#game-create-container *{
    width: 100%;
    margin-bottom: 30px;
}
#game-create-container input{
    border: 0;
    outline: double;
    font-size: 25px;
}
#game-create-container input::-webkit-inner-spin-button, #game-create-container input::-webkit-outer-spin-button { 
   -webkit-appearance: none; 
}
#game-create-container button{
    height: 30px;
    width: 100%;
    border-radius: 0;
    font-size: 100%;
    background-color: var(--color-paper);
    outline: none;
}
#game-create-container button:active{
    filter: brightness(0.9);
}