
#panel-wrapper {
    width: 100%;
    height: 73px;
    position: fixed;
    top: 0;
    background-color: white;
}
#panel-scroll {
    height: var(--height-scroll);
    width: 100%;
    vertical-align: middle;
    display: flex;
    overflow: hidden;
    background-color: white;
}

#panel-scroll img {
    position: relative;
    width: var(--height-scroll);
    height: var(--height-scroll);
    margin-right: var(--animation-margin-right);
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-name: BIGPP;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    user-select: none;
    flex: 0 0 auto;
}

@keyframes BIGPP {
    from {
        left: 0;
    }
    to {
        left: var(--animation-anti-margin-right);
    }
}

#panel-menu {
    height: calc(var(--height-wrapper) - var(--height-scroll));
    background-color: var(--color-paper);
    width: 100%;
    border-style: solid none solid none;
    border-width: 1px;
}
#panel-menu button {
    width: 75px;
    height: calc(var(--height-wrapper) - var(--height-scroll));
    border: 0;
    font-size: 100%;
    color: black;
}
#panel-menu button:hover {
    text-decoration: underline;
    color: green;
}
#panel-menu button:active {
    filter: brightness(0.9);
}
