#panel {
    position: relative;
    margin-top: 50px;
    left: calc(50% - 600px);
    width: 1200px;
    padding-bottom: 200px;
    box-shadow: 0 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 19px,
        var(--color-paper) 19px,
        var(--color-paper) 20px
    );
    text-align: center;
    overflow: auto;
}
#panel * {
    position: relative;
    color: var(--color-ink);
}
#panel-title {
    margin-top: 5%;
    font-size: 46px;
}
#panel-brochure {
    margin-top: 50px;
    left: 25%;
    width: 50%;
    border-top-width: 3px;
    border-top-style: double;
    border-top-color: var(--color-ink);
}
#panel-option {
    display: flex;
    left: 5%;
    width: 90%;
    justify-content: space-between;
}
#panel-option img {
    height: 400px;
}
#panel-option div {
    margin-top: 100px;
    transition: 0.5s;
    padding-left: 5px;
    padding-right: 5px;
}
#panel-option div:hover {
    transform: translateY(-50px);
    filter: saturate(150%);
}
