:root {
    --wrapper-height: 73px;
    --scroll-height: 40px;

    --margin-right: calc(var(--scroll-height) + 100%);
    --anti-margin-right: calc(
        (var(--margin-right) + var(--scroll-height)) * -3
    );
}
#panel-wrapper {
    width: 100%;
    height: 73px;
    position: sticky;
    background-color: white;
}
#panel-scroll {
    height: var(--scroll-height);
    width: 100%;
    vertical-align: middle;
    display: flex;
    overflow: hidden;
    background-color: #fff;
}

#panel-scroll img {
    position: relative;
    width: var(--scroll-height);
    height: var(--scroll-height);
    margin-right: var(--margin-right);
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-name: BIGPP;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    user-select: none;
    flex: 0 0 auto;
}

@keyframes BIGPP {
    from {
        left: 0;
    }
    to {
        left: var(--anti-margin-right);
    }
}

#panel-menu {
    height: calc(var(--wrapper-height) - var(--scroll-height));
    background-color: #efeffb;
    width: 100%;
    border-style: solid none solid none;
    border-width: 1px;
}
#panel-menu button {
    width: 75px;
    height: calc(var(--wrapper-height) - var(--scroll-height));
    border: 0;
    font-size: 100%;
    color: black;
}
#panel-menu button:hover {
    text-decoration: underline;
    color: green;
}
#panel-menu button:active {
    filter: brightness(0.9);
}
