#panel {
    position: relative;
    margin-top: 50px;
    left: calc(50% - 600px);
    width: 1200px;
    padding-bottom: 200px;
    box-shadow: 0 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 19px,
        var(--color-paper) 19px,
        var(--color-paper) 20px
    );
    text-align: center;
    overflow: auto;
}
#panel * {
    position: relative;
    color: var(--color-ink);
}
#panel-title {
    margin-top: 5%;
    font-size: 46px;
    padding-bottom: 25px;
    border-bottom-width: 5px;
    border-bottom-color: var(--color-ink);
    border-bottom-style: double;
}
#panel-interface-wrapper {
    overflow: hidden;
    margin-top: 25px;
    width: 50%;
    left: 25%;
    max-height: 0;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
    mask-size: 100% 300%;
    mask-position: 0% 0%;
    transition: 1s ease;
    
}
#panel-interface {
}
#panel-options {
    display: flex;
    left: 5%;
    width: 90%;
    justify-content: space-between;
}
#panel-options img {
    height: 400px;
}
#panel-options div {
    margin-top: 100px;
    transition: 0.5s;
    padding-left: 5px;
    padding-right: 5px;
}
#panel-options div:hover {
    transform: translateY(-50px);
    filter: saturate(150%);
}
